

@model BS_Core_WepApp.Models.UserModel

@{
    ViewData["Title"] = "User Delete";
}
<div class="container">
    <div class="row">
        <div class="intro-message">
            <h1>BitSpecial Firebase Database</h1>
            <h3>Firestore/FthTest-users >> Delete User</h3>
            <hr class="intro-divider">
        </div>
    </div>
    <div class="col-md-10 mx-auto py-4">
        <div class="card">
            <div class="card-header bg-primary text-uppercase text-white">
                <h4>Delete User</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.logoPath)
                    </dt>
                    <dd class="col-sm-10">
                        <img src="@Model.logoPath" alt="Logo Path" />
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.date)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.date)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Surname)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                </dl>
                <div class="form-group">
                    <form asp-action="Delete">
                        <input type="submit" value="Delete" class="btn btn-danger rounded-0" onclick="return confirm('Are you sure you want to Delete?');" />
                        <a class="btn btn-info" asp-action="Index"><i class="fa fa-fast-forward"></i> Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
